@media (max-width: 949px) and (min-width: 350px) {
    body {
        font-size: 16px;
    }
    .navbar {
        justify-content: space-between;
        margin: 0px 5px;
        padding: 50px 30px;
    }
    .banner-wrap {
        height: 100dvh;
    }
    .banner-container {
        height: 100dvh;
    }
   
    .get-started-form {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .get-started-form button {
        width: 375px;
    }
    #faq .get-started-form button {
        width: 375px;
    }
    .card-title {
        font-size: 32px;
        font-weight: 700;
    }
    
    .card-subtitle {
        font-size: 18px;
        font-weight: 400;
        margin: 1rem 0;
    }

    .info-container {
        display: flex;
        flex-direction: column;
    }
    .info {
        text-align: center;
    }
    /* .info-container {
        display: flex;
        flex-direction: column-reverse;
    } */
    #tv {
        flex-direction: column;
    }
    .tv-container img {
        width: 70dw;
        z-index: 3;
        overflow: hidden;
    }
    #tv .tv-container img {
        width: 100%;
        z-index: 3;
        overflow: hidden;
    }
    .tv-container video {
        height : 60%;
    }
    #mobile {
        width: 150%;
        overflow: hidden;
    }
    .kids img {
        height: 28dvh;
    }
    .download-card {
        z-index: 5;
        height: 30%;
        max-height: 80px;
        width: 50dvw;
    }
    .download-card .stranger {
        height : 10dvh;
        width: 50dvw;
    }
    .download-card .stranger img {
        height: 100%;
    }
    .download-card img {
        height: 7dvh;
    }
    .download-text {
        padding-top: 19px;
    }
    #info2 {
        padding-left: 10px;
        text-align: left;
        width: 410px;
    }
    #in {
        padding: 70px 0 70px 0;
    }
    .footer-items {
        margin: 0;
        padding: 70px 30px;
    }
    .footer-links li {
        font-size: 16px;
        line-height: 1;
        padding-bottom: 15px;
        padding-right: 15px;
        
    }
    .banner-container {
        padding: 30px 30px;
        min-height: 70vh;
    }
    .info-container, #info-con3, .kids {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info img {
        width: 80vw;
    }
    
    
}

/* @media (min-width: 550px) and (max-width: 949px) {
    .info-container:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
    }
    .info-container {
        display: flex;
        flex-direction: column;
    }
    .info {
        text-align: center;
    }
}


@media (orientation: portrait), (min-width: 400px) and (max-width: 549px) {
    .get-started-form input {
        width: 300px;
    }
    .get-started-form button {
        font-size: 1rem;
    }
    .info-container:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
    }
    .info-container {
        display: flex;
        flex-direction: column;
    }
    .info {
        text-align: center;
    }

}


@media (min-width: 350px) and (max-width: 399px) {
    .get-started-form input {
        width: 235px;
    }
    .get-started-form button {
        font-size: 0.9rem;
    }
    .info-container:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
    }
    /* .info-container {
        display: flex;
        flex-direction: column;
    } 
    .info {
        text-align: center;
    }

}

@media (max-width: 349px) {
    
} */