@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-size: 18px;
    text-decoration: none;
}

body {
    font-family: 'Roboto', Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    
}

/* FONTS */
.card-title {
    margin-bottom: 0.5rem;
    line-height: 1.1;
    font-size: 48px;
    font-weight: 900;
}
.card-subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 1rem 0 0;
}

#info2 {
    width: 500px;
    padding-left: 80px;
}
.kids {
    width: 100%;
}
.email-form-title {
    margin: 1rem 0 1rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

/* BANNER WRAP SECTION */
.banner-wrap {
    background-image: url(./assets/More-Assets/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-bottom: 10px solid #222222;
    position: relative;
    z-index: 1;
}
.overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 60%;
    position: absolute;
    top: 0;
}

.navbar {
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin: 0px 5px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
}
.navbar > img {
    height: 36px;
}
.navbar > a {
    padding: 5px 17px;
    color: white;
    background: red;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
}

.banner-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 45px);
    text-align: center;
}
.get-started-form {
    height: 60px;
    display: flex;
    gap: 7px;
}
.get-started-form input {
    height: 100%;
    width: 370px;
    /* padding-left: 10px; */
    background-color:rgba(000,0,0,0.3);
    color: rgb(255, 255, 255);
    filter: opacity(90%);
    padding: 24px 16px 8px 16px;
    text-align: left;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: text-top;
    border: 1px solid #999999;
    border-radius: 4px;
}
#faq .get-started-form input {
    height: 100%;
    width: 370px;
    /* padding-left: 10px; */
    background-color:rgba(000,0,0,0.3);
    color: rgb(255, 255, 255);
    filter: opacity(90%);
    padding: 24px 16px 8px 16px;
    text-align: left;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    vertical-align: text-top;
    border: 1px solid #999999;
    border-radius: 4px;
}
.get-started-form button {
    background-color: red;
    color: white;
    height: 100%;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    min-height: 60px;
    padding: 0 26px;
    border-left: 1px solid rgb(51, 51, 51);
}
#faq .get-started-form button {
    background-color: red;
    color: white;
    height: 100%;
    width: 400px;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    min-height: 60px;
    padding: 0 26px;
    border-left: 1px solid rgb(51, 51, 51);
}



.info-container {
    background: black;
    color: white;
    display: flex;
    padding: 70px 45px;
    border-bottom: 10px solid #222222;
}
.info-container:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tv-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv-container img {
    z-index: 2;
}
.tv-container video {
    position: absolute;
}
.download-card {
    display: flex;
    justify-content: center;
    z-index: 3;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    border: 2px solid #6c6c6c;
    background-color: #000000;
    border-radius: 0.75rem;
    align-items: center;
    width: 400px;
    min-width: 15rem;
    bottom: 06%;
}
.download-card img {
    height: 4.5rem;
    padding: 5px;
}
.download-card .stranger {
    display: flex;
    justify-content: center;
    padding-left: 15px;
}
.download-card .download-text {
    padding: 10px;
    gap: 3px;
}
.download-card .download-text h1 {
    font-size: 16px;
}
.download-card .download-text p {
    color: blue;
    font-size: 14px;
}
.download-card .download-animate {
    right: 10%;
}

#faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.faq-question {
    
    cursor: pointer;
    padding: 10px;
    border: 1px solid #000000;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80dvw;
    height: 70px;
    background-color: #2d2d2d;
    transition-duration: 250ms;
    transition-property: #2d2d2d;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

.faq-details {
    
    display: none;
    padding: 10px;
    border: 1px solid #000000;
    margin-top: 0px;
    width: 80dvw;
    background-color: #2d2d2d;
    transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}
#faq form .get-started-form {
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
#faq form .get-started-form input {
    height: 50px;
}

#faq form button {
    width: 50dvw;
}

/* FOOTER STYLES */
.footer {
    background: black;
}
.footer-items {
    margin: 0 47.5px;
    padding: 70px 45px;
}
.footer-top {
    margin-bottom: 30px;
}
.footer ul li, .questions-title  {
    color: #a8a4a4;
}
.footer-links li {
    font-size: 16px;
    line-height: 2;
}
.footer ul li:hover {
    text-decoration: underline;    
    cursor: pointer;
}
.questions-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-links {
    list-style-type: none;
    columns: 4;
    padding: 0;
}

.language {
    height: 53px;
    width: 150px;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #999999;
    padding: 0 10px;
    margin-top: 30px;
    border-radius: 3px;
}
.language select {
    padding: 10px;
    width: 100%;
    border: none;
    appearance: none;
    background: black;
    color: #999999;
    background: url(./assets/carot.png) no-repeat 100%;
}

.footer-country {
    font-size: 13px;
    margin-top: 24px;
    color: #757575;
}

.test {
    display: none;
}